<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    # <Files "assets/css/main.css">
    #     Header set Cache-Control "max-age=0, no-store"
    # </Files>

    # <FilesMatch "public/assets/css/main\.css$">
    #     Header set Cache-Control "max-age=0, no-store"
    # </FilesMatch>

    <FilesMatch "\.(css)$">
        Header set Cache-Control "max-age=3600, public"
    </FilesMatch>



    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
