


.weather-icon{
    font-size: 70px;
    color:orange;
}

.weather-icon-co-lead{
    margin-top: 20px;
    font-size: 40px;
}

.fa-wind{
    color: rgb(0, 183, 255) !important;
}

.suhu {
    color: rgb(255, 38, 0) !important;
}

.lembap {
    color: rgb(0, 110, 255) !important;
}
























/* 
.wheather-input {
    border: 2px solid;
    border-radius: 15px;


}


#weatherForm {
    text-align: center;
}

.form-weather {
    padding: 20px;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    padding: 10px;
    font-size: 16px;
    border: 3px solid #8a8888;
    border-radius: 5px 0 0 5px;
}

.button-input-weather {
    padding: 10px !important;
    background-color: #3498db !important;
    color: #fff !important;
    border: 3px solid #3498db !important;
    border-radius: 0 5px 5px 0 !important;
    cursor: pointer !important;
    width: 130px !important;
}

.button-input-weather:hover {
    background-color: #2980b9 !important;
    border-color: #2980b9 !important;
} */
